@import '../node_modules/spectre.css/spectre.less';

body, h1, h2 {
  font-family: Roboto, sans-serif;
  line-height: 1.85;
  font-weight: 400;
  color: #333;
}

header {
  background: #eeeeee;

  nav {
    h1 {
      margin-bottom: 0;
      padding-right: 1.6rem;
    }
  }
}

section.container {
  margin-top: 2rem;
}

#examples { width: 13rem; max-height: 60vh; }

code {
  line-height: 1.5;
  color: #333;
  font-family: 'Fira Code', Inconsolata, monospace;
  background: #eee;
}
pre code {
  width: 100%;
}
.selectedVC {
  position: absolute;
  background-color: lighten(#ffb700, 40%);
}
.pc {
  position: absolute;
  background-color: lighten(#c03434, 40%);
}

/* haddock style for kate highlighting */
div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none;
}
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #0000ff; } /* Keyword */
code > span.ch { color: #008080; } /* Char */
code > span.st { color: #008080; } /* String */
code > span.co { color: #008000; } /* Comment */
code > span.ot { color: #ff4000; } /* Other */
code > span.al { color: #ff0000; } /* Alert */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #008000; font-weight: bold; } /* Warning */
code > span.cn { } /* Constant */
code > span.sc { color: #008080; } /* SpecialChar */
code > span.vs { color: #008080; } /* VerbatimString */
code > span.ss { color: #008080; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #008000; } /* Variable */
code > span.cf { color: #0000ff; } /* ControlFlow */
code > span.op { } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #ff4000; } /* Preprocessor */
code > span.do { color: #008000; } /* Documentation */
code > span.an { color: #008000; } /* Annotation */
code > span.cv { color: #008000; } /* CommentVar */
code > span.at { color: #ff4000; } /* Attribute */
code > span.in { color: #008000; } /* Information */

/* react-split-pane */
.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

 .Resizer:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

 .Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.sourceAnnotation {
  position: absolute;

  .sourceAnnotation-container {
    display: block;
    transform: translate(-50%, 0);
    top: -40px;
    padding: .4rem;
    position: absolute;
    z-index: 300;
    white-space: normal;
    box-shadow: 0 .2rem (.25rem) * 2 rgba(69, 77, 93, .3);
    border-radius: 0.4rem;
    border: 0;
    background-color: white;
  }

  .arrow {
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgb(69, 77, 93);
    top: -3px;
    left: -8px;
  }
}

.vc-panel {
  .panel-title h6 {
    font-family: 'Fira Code', Inconsolata, monospace;
  }
  .panel-title .menu a {
    font-family: 'Fira Code', Inconsolata, monospace;
  }
  .codeinput {
    font-family: 'Fira Code', Inconsolata, monospace;
  }
  .panel-header {
    padding-bottom: 0;
  }
  border: none;
}

.plist {
  list-style: none;
  margin: 0;
  padding: .4rem 0;

  .divider {
    margin-bottom: 1.2rem;
  }

  .plist-item {
    margin-top: 0;
    padding: 0 .4rem;
    text-decoration: none;
    user-select: none;
    clear: both;

    & > a {
      font-family: 'Fira Code', Inconsolata, monospace;
      color: inherit;
      display: block;
      margin: -.4rem;
      padding: .2rem .4rem;
      text-decoration: none;
      &:focus,
      &:hover,
      &:active,
      &.active {
        background: lighten(#5755d9, 37.5%);
        color: #5755d9;
      }
    }

    & > div.plist-elem {
      font-family: 'Fira Code', Inconsolata, monospace;
      color: inherit;
      display: block;
      margin: -.4rem;
      padding: .2rem .4rem;
      text-decoration: none;
    }

    & + .plist-item {
      margin-top: .2rem;
    }
  }

  .plist-badge {
    float: right;
    padding: .2rem 0;

    .btn {
      margin-top: -.1rem;
    }
  }
}

.plist {
  max-height: 70vh;
  overflow-y: auto;
}
.label.label-secondary {
  background: #f8f9fa;
  color: #ba8900;
}